.sidebar {
  width: 250px;
  height: 100%;
  background: #EE8E46;
  padding-top: 20px;
  margin-right: 400px;
  position: fixed;
  transition: width 0.5s ease, background 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 5;
}


.sidebarHeader {
  padding: 0 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.brand {
  display: flex;
  align-items: center;
  color: #fff;
}

.brand i {
  margin-right: 10px;
  font-size: 28px;
}

.navLinks {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s ease, padding-left 0.3s ease;
  position: relative;
}

.navIcon {
  font-size: 16px;
  width: 35px;
  min-width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  /* margin-right: 10px; */
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.navItem:hover {
  background: #575b8a;
  padding-left: 30px;
}

.navItem:hover i {
  animation: shake 0.5s;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  50% {
    transform: translateX(2px);
  }

  75% {
    transform: translateX(-2px);
  }
}

.dropdown {
  position: relative;
}

.dropdownMenu {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  background: #3a3a52;
  position: absolute;
  left: 0;
  top: 100%;
  color: white;
  width: 100%;
  transition: opacity 0.3s ease;
}

.dropdownMenu .dropdown-item {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s ease;
}

.dropdownMenu li a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.dropdownMenu li {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: #6c63ff;
}


.dropdownMenu .dropdownIem:hover {
  background: #575b8a;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownIcon {
  font-size: 14px;
  transition: transform 0.3s ease;
}

/* Show dropdown menu when active */
.dropdown.active .dropdownMenu {
  display: block;
}

/* Sidebar collapse styles */
.sidebar.collapsed {
  width: 6%;
  background: linear-gradient(45deg, #2b2d42, #3a3a52);
}

.sidebar.collapsed .navItem span,
.sidebar.collapsed .sidebarHeader h3 span,
.sidebar.collapsed .navItem .dropdownIcon,
.sidebar.collapsed .dropdownMenu {
  display: none;
}

.sidebar.collapsed .navItem .navIcon {
  display: block;
}

.sidebar.collapsed .sidebarHeader h3 {
  justify-content: center;
}

.mainContent {
  margin-left: 250px;
  padding: 40px;
  width: calc(100% - 250px);
  transition: margin-left 0.5s ease;
  background: #f3f4f6;
}

.sidebar.collapsed~.mainContent {
  margin-left: 80px;
  width: calc(100% - 80px);
}

.toggleBtn {
  width: 20px;
  height: 20px;
  background: #6c63ff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: absolute;
  right: -10px;
}

.toggleBtn .toggleIcon {
  font-size: 10px;
  transition: transform 0.3s ease;
}

.navItem::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background: #6c63ff;
  transition: transform 0.3s ease;
  transform: scaleY(0);
  transform-origin: bottom;
}

.navItem:hover::before {
  transform: scaleY(1);
  transform-origin: top;
}




.main {
  width: 80%;
  height: 100vh;
  background-color: #575b8a;
  margin-left: 20%;
  gap: 10px;
  display: grid;
  padding: 10px 25px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}



.studentAbout {
  grid-row: 2/3;
  padding: 0px 25px;
  display: flex;
  grid-column: 1/11;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}

.studentAdd {
  width: 400px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  padding: 0px 15px;
  z-index: 5;
  background-color: white;
}

.isAdd {
  display: none;
}

.studentAdd span {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.studentAddButton {
  padding: 20px 80px;
  border-radius: 10px;
  background-color: #6c63ff;
  color: white;
  cursor: pointer;
  align-self: center;
  font-weight: bolder;
  border: none;
}

.students {
  grid-column: 1/11;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 3/11;
  gap: 5px;
  padding: 10px 25px;
  background-color: white;
}

.student {
  border-radius: 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(125, 125, 125);
}

.historyPayments {
  grid-column: 6/11;
  grid-row: 7/11;
  background-color: white;
}

.inputSearch::placeholder{
  color: #8b8b8b !important;
}