body {
  background-color: #f3f4f6;
}

.main {
  width: 80%;
  height: 100vh;
  transition: margin-left 0.5s ease;
  gap: 10px;
  display: grid;
  padding: 10px 25px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.studentActive {
  grid-column: 1/4;
  grid-row: 3/11;
  border-radius: 7px;
  font-size: 25px;
  display: flex;
  justify-content: auto;
  flex-direction: column;
}

.students {
  grid-column: 4/11;
  grid-row: 3/11;
  border-radius: 7px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-height: calc(100vh - 20px);
  overflow-y: scroll;
}

.students::-webkit-scrollbar {
  width: 5px;
  background-color: #f3f4f6;
  border-radius: 10px;
}

.student {
  border-radius: 10px;
  height: 70px;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(125, 125, 125);
}

.crud {
  justify-self: centerd;
  align-self: flex-end;
  display: flex;
  gap: 15px;
}

.crud i {
  cursor: pointer;
  padding: 8px 8px;
  border-radius: 50%;
  transition: background-color 0.2s linear;
}

.crud i:nth-child(1) {
  border: 1px solid #EE8E46;
  color: #EE8E46;
}

.crud i:nth-child(1):hover {
  background-color: #EE8E46;
  color: white;
}

.crud i:nth-child(2) {
  border: 1px solid red;
  color: red;
}

.crud i:nth-child(2):hover {
  background-color: red;
  color: white;
}

.crud i:nth-child(3) {
  border: 1px solid #EE8E46;
  color: #EE8E46;
}

.crud i:nth-child(3):hover {
  background-color: #EE8E46;
  color: white;
}

.crud i:nth-child(4) {
  border: 1px solid rgb(1, 177, 1);
  color: rgb(1, 177, 1);
}

.crud i:nth-child(4):hover {
  background-color: rgb(1, 177, 1);
  color: white;
}



.studentAbout {
  grid-row: 2/3;
  padding: 0px 25px;
  display: flex;
  grid-column: 1/11;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}

.studentAdd {
  width: 400px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  padding: 0px 15px;
  z-index: 5;
  background-color: white;
}

.isAdd {
  display: none;
}

.studentAdd span {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.studentAddButton {
  padding: 20px 80px;
  border-radius: 10px;
  background-color: #6c63ff;
  color: white;
  cursor: pointer;
  align-self: center;
  font-weight: bolder;
  border: none;
}





.slidePayment {
  width: 400px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  padding: 0px 15px;
  z-index: 5;
  background-color: white;
}


.input::placeholder {
  color: #8b8b8b !important;
}

.coment:hover::-webkit-scrollbar {
  background: #8b8b8b30;
}

.coment:hover::-webkit-scrollbar-thumb {
  background: #838383;
}

.coment::-webkit-scrollbar {
  width: 7px;
  background: transparent;
  border-radius: 10px;
}

.coment::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.comentCancel {
  height: 30px;
  padding: 0px 4px !important;
}

.img:hover ~ .chengeImage{
  bottom: 0 !important;
}

.chengeImage{
  transition: 0.4s;

  &:hover{
    bottom: 0 !important;
  }
}