.main {
  width: 100%;
  height: 100vh;
  background-color: rgb(98, 99, 99);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 20%;
}

.main video {
  position: fixed;
  right: 0;
  width: 100%;
  object-fit: cover;
  height: 100vh;
  z-index: 1;
}

.basicAside {
  width: 20%;
  height: 100vh;
  background: #ffffff17;
  border-radius: 16px;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #ffffff4d;
  position: sticky;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 40px;
  color: rgb(255, 255, 255);
  gap: 15px;
  padding-top: 200px;
  padding-bottom: 200px;
  box-sizing: border-box;
}

.basicAside i {
  color: white;
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px 10px rgba(0, 0, 0, 0.511));
}

.levels {
  width: 30%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  position: relative;
  z-index: 2;
}

.levels h1 {
  font-size: 100%;

}

.table {
  width: 87%;
  height: 92%;
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding-right: 3%;

  &:hover::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #a066f8, #f87ec4);
  }

  &:hover::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }

}

.table::-webkit-scrollbar {
  width: 6px;
}

.table::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.table::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.table::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #8844e1, #f464b7);
}

.card {
  width: 100%;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.level {
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 10px 0px 10px 0px;
}

.level a {
  color: white;
}















@media screen and (max-width:485px) {

  aside {
    opacity: 0;
  }

  .main {
    width: 100%;
    height: auto;
    padding-left: 0;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
  }

  .levels {
    width: 95%;
    height: 70vh;
  }

  .main video {
    top: 0;
    object-fit: fill;
  }

}














.userSettings {
  position: absolute;
  padding: 10px;
  z-index: 3;
  right: 0;
  top: 0;
  font-size: 30px;
  margin-right: 15px;
  cursor: pointer;
}

.userSettingsMenu {
  width: 220px;
  height: 400px;
  background-color: white;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
}



.chat {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.409);
  position: fixed;
  left: 0;
  display: none;
  top: 0;
  z-index: 4;
}